{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizenwear</title>
    <link rel="stylesheet" href="{% static 'users/css/resources.css' %}">
</head>

<body>
    <section class="container">
        <h1>Política de Privacidade - Kaizenwear</h1>
        <p>
            Bem-vindo(a) à Kaizenwear! Esta Política de Privacidade estabelece como coletamos, utilizamos e protegemos
            as informações dos nossos usuários. Ao criar uma conta e utilizar nossos serviços, você concorda em cumprir
            e aceitar as seguintes diretrizes. Leia atentamente este documento antes de prosseguir.
        </p>
        <p>
            <strong>1. Coleta e Uso de Dados Pessoais</strong>

            1.1. A Kaizenwear está comprometida em proteger a privacidade e os dados pessoais dos nossos usuários.
            Todas as informações fornecidas serão tratadas de acordo com esta Política de Privacidade.

            1.2. Ao fornecer seus dados pessoais, você consente que eles sejam processados de acordo com esta Política
            de Privacidade. Mantenha suas informações precisas e atualizadas, sendo de sua responsabilidade a
            manutenção dos dados.
        </p>
        <p>
            <strong>2. Segurança e Responsabilidade</strong>

            2.1. Ao criar uma conta na Kaizenwear, você concorda em utilizar nossos serviços de maneira responsável e
            dentro dos limites legais. Você é responsável por todas as atividades realizadas em sua conta.

            2.2. O uso da Kaizenwear para atividades ilegais, fraudulentas, prejudiciais, difamatórias, discriminatórias
            ou violadoras dos direitos de terceiros é proibido. O uso de linguagem ofensiva ou inadequada também é
            estritamente vetado.

            2.3. A Kaizenwear adota medidas de segurança para proteger os dados e as transações dos usuários. No
            entanto, não podemos garantir segurança absoluta. É sua responsabilidade proteger suas credenciais de
            acesso e informar qualquer atividade suspeita em sua conta.
        </p>
        <p>
            <strong>3. Propriedade Intelectual</strong>

            3.1. Todo o conteúdo da Kaizenwear, incluindo logotipos, textos, imagens, vídeos e outros elementos, é
            protegido por direitos autorais e outras leis de propriedade intelectual. Esses elementos são propriedade
            exclusiva da Kaizenwear ou de seus detentores de direitos autorais.

            3.2. A reprodução, modificação, distribuição ou uso não autorizado de qualquer conteúdo da Kaizenwear é
            proibido, exceto quando expressamente permitido pela Kaizenwear ou pelos detentores dos direitos autorais.

            <strong>4. Comunicação e Marketing</strong>
        </p>
        <p>
            4.1. Ao criar uma conta na Kaizenwear, você concorda em receber comunicações relacionadas aos nossos
            serviços, incluindo atualizações, promoções e informações relevantes. Você pode optar por não receber essas
            comunicações a qualquer momento, seguindo as instruções de cancelamento de assinatura nas mensagens ou
            através das configurações da sua conta.
        </p>
        <p>
            <strong>5. Alterações na Política de Privacidade</strong>

            5.1. A Kaizenwear reserva-se o direito de modificar ou atualizar esta Política de Privacidade a qualquer
            momento, com aviso prévio aos usuários. É sua responsabilidade revisar periodicamente este documento para
            estar ciente de quaisquer mudanças. A continuação do uso da Kaizenwear após as alterações implica na
            aceitação das mesmas.

            Para esclarecimentos ou dúvidas sobre esta Política de Privacidade, entre em contato conosco através dos
            canais fornecidos no site. Atualizado em 17/08/2023.
        </p>
    </section>

</body>

</html>