<div class="footer-arrow">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
    </svg>
</div>

<footer class="main_footer mycontainer">

    <div class="content">

        <div class="colfooter">

            <h4 class="titleFooter"> Menu</h4>

            <ul>

                <li><a href="#" title="Página Inícial">Página Inícial</a></li>
                <li><a href="#" title="Sobre a Empresa">Sobre a Empresa</a></li>
                <li><a href="#" title="Galeria de Fotos">Galeria de Fotos</a></li>
                <li><a href="#" title="Fale Conosco">Fale Conosco</a></li>

            </ul>

        </div><!--Col Footer 1-->

        <div class="colfooter">

            <h4 class="titleFooter">Contato</h4>
            <p><i class="icon icon-mail"></i> contato@seusite.com.br</p>
            <p><i class="icon icon-phone"></i> 21 90000-0000</p>
            <p><i class="icon icon-whatsapp"></i> 21 90000-0000</p>

        </div><!--Col Footer 2-->

        <div class="colfooter">

            <h4 class="titleFooter"> Redes Sociais</h4>

            <a href="#" class="redesocial"><span> <i class="icon icon-facebook"></i>/loopnerd</span></a>
            <a href="#" class="redesocial"><span> <i class="icon icon-instagram"></i>/blog.loopnerd</span></a>
            <a href="#" class="redesocial"><span> <i class="icon icon-twitter"></i>/LoopNerd</span></a>
            <a href="#" class="redesocial"><span> <i class="icon icon-pinterest"></i>/loopnerd</span></a>

            </form>

        </div><!--Col Footer 3-->

        <div class="clear"></div>

    </div><!--Contant-->

    <div class="main_footer_copy">

        <span>&copy;</span>
        <p class="m-b-footer"> Kaizenwear - 2023, todos os direitos reservados á Keizen Douglas de Almeida Palassi.</p>
        <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: Matheus Alves<a href="#"
                title="Loop Nerd">Loop Nerd</a>
        </p>

    </div>

</footer>