<form id="myform">
    <div class="form-group">

        <label class="mylabel" for="exampleInputEmail1">Informações de contato</label>
        <span id="btn-login">Possue conta? <a href="#">Fazer Login</a></span>
        <label for="form1Example1">Endereço de e-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">Nome</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Sobrenome</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputcpf">CPF/CNPJ</label>
        <input type="text" class="form-control" id="inputcpf">
    </div>
    <div class="form-group">
        <label for="inputtel">Telefone</label>
        <input type="text" class="form-control" id="inputtel">
    </div>

    <button onclick="nextContent(2)" type="button" class="mybtn btn btn-dark">PRÓXIMO</button>

</form>