<div class="final-content">

    <div class="info-personal info-checkout">
        <ul class="list-group">
            <li class="title-list list-group-item active" aria-current="true">Informações Pessoais</li>
            <li class="list-group-item">
                <span>EMAIL:</span> emailteste@gmail.com
            </li>
            <li class="list-group-item">
                <span>NOME:</sapn> Nome aqui
            </li>
            <li class="list-group-item">
                <span>SOBRENOME:</span> Sobrenome aqui
            </li>
            <li class="list-group-item">
                <span>CPF:</span> 999.999.999-99
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary mb-2 btn-dark btn-edit" onclick="loadContent(1)">Editar
                    Informações</button>
            </li>

        </ul>
    </div>

    <div class="info-address info-checkout">
        <ul class="list-group">
            <li class="title-list list-group-item active" aria-current="true">Informações de Endereço</li>
            <li class="list-group-item">
                <span>CEP:</span> emailteste@gmail.com
            </li>
            <li class="list-group-item">
                <span>RUA:</span> Nome da Pessoa será aqui
            </li>
            <li class="list-group-item">
                <span>NUMERO:</span> numero
            </li>
            <li class="list-group-item">
                <span>BAIRRO:</span> bairro aqui
            </li>
            <li class="list-group-item">
                <span>COMPLEMENTO:</span> apto aqui
            </li>
            <li class="list-group-item">
                <span>CIDADE:</span> cidade aqui
            </li>
            <li class="list-group-item">
                <span>ESTADO:</span> Estado aqui
            </li>
            <li class="list-group-item">
                <span>PAÍS:</span> País aqui
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary mb-2 btn-dark btn-edit" onclick="loadContent(2)">Editar
                    Informações</button>
            </li>

        </ul>
    </div>

</div>