body {
    font-size: 1.1rem;
}

.btn-voltar {
    color: #000;
    padding: 0.8rem;
    font-size: 0.9rem;
}

.btn-voltar:hover {
    text-decoration: none;
    color: #353434;
}

.btn-voltar svg {
    padding-bottom: 5px;
}

.container {
    width: 55%;
    margin: auto;
    margin-top: 1rem;
    background-color: #ffffff7e;
    box-shadow: 1.5px 1.5px 3px rgba(46, 46, 46, 0.3);
    border-radius: 5px;
}

form {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}



h6 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.form-control {
    background-color: #f0f0f0;
}

.disabled-input {
    background-color: #bcbcbc
        /* Cor de fundo quando desativado */
}

.enabled-input {
    background-color: #f0f0f0;

}

.alert {
    width: 50%;
    margin: auto;
    padding: 5px;
    padding-left: 30px;

}

#btnSavePassword {
    margin-left: 0.3rem;
}